<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1 th:text="${productMsg}"></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>제품이름</th>
            <th>가격</th>
        </tr>
        <tr th:each="product : ${productList}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>

    <ul>
        <li th:each="product : ${productList}" th:text="${product.name} + ' - $' + ${product.price}" ></li>
    </ul>
</body>
</html>